* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'VT323', monospace;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    border: 5px black solid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    overflow: hidden;
}

.header{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    height: 28vh;
    width: 100vw;
    position: relative;
    text-align: center;
    background-color: black;
    z-index: 7;
}

img{
    position: relative;
    width: 100vw;
    z-index: 7;
    height: 31vh;
}

.stats{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 70vh;
    width: 49vw;
    background-color: rgb(0, 0, 0);
    animation: bh-influence 5s linear 1 paused;
    /* filter: brightness(100%); */
    
}

.stat{
    height: 25vh;
    /* display: flex; */
    flex-direction: column;
}

.stat-el{
   
    width: max-content;
    margin-left: 0.5vw;
}
.input{
    position: relative;
    display: flex;
    margin-top: 2vh;
    width: max-content;
    flex-wrap: wrap;
    /* color: white; */
    
}
::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgb(255, 255, 255);
  }

  

input[type="number"], textarea {

    background-color : #000000; 
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]:focus {
    border: 2px solid rgb(0, 0, 0);
    outline: none;
  }

input[type=number] {
  -moz-appearance: textfield;
}
.weight-input{
    border: 3px solid rgb(255, 255, 255);
    justify-self: center;
    border-bottom: 3px solid white;
    font-size: 3.2vh;
    margin-right: 1vw;
    color: white;
    caret-color: rgb(255, 255, 255);
    width: 3vw;
}

.weight-input:placeholder {
    color: rgb(255, 255, 255);
    font-size: 3.5vh;
    height: 15vw;
    margin-left: 2px;
  }

.chose-planet-title{
    font-size: 1.7vw;
    word-wrap: normal;
    display: none;
    color: white;
    border: none;
    margin-top: 4vh;
    margin-bottom: 2vh;
}





.submit-2{
    display: flex;
    border: none;
    font-size: 3.7vh;
    width: 13.5vw;
    height: 6vh;
    text-align: center;
    align-items: center;
    color: white;
    
}

.stats-title{
    color: white;
    font-size: 1.9vw;
    justify-self: center;
}
.navbar{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: white;
    display: none;
    height: 24vh;
    margin-top: 4vh;
    /* align-items: center;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    text-align: center; */
    /* flex: 1; */
}



.black-hole:hover{
    animation: my-move 170ms ease 0s 1 forwards ;
  animation-delay: 50ms;
}

.navbar-el{
    font-size: 2vw;
    border: white  2px;
    border-style: dashed;
    text-align: center;
    /* flex: 1;
    justify-content: center; */
}

.black-hole{
    grid-column: 1 / -1;
    text-align: center;
    border-top: none;
}
.navbar-el:hover{
    background-color: rgba(5, 5, 5, 0.664);
    border: white double 1px;
    cursor: pointer;
}

.sun:hover{
    border: none;
    border-radius: 100%;

    position: relative;
    height: 250%;
    top: -5vh;
    justify-content: center;
    color: black;
    display: flex;
    z-index: 5;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 0em 3.5em rgb(251, 255, 0), 0em 0em 3em 2em yellow;
    align-items: center;
    filter: brightness(150%);
    text-align: center;
    transition: all 1200ms linear;
    transition-delay: background-color 1400ms;
}

.submit{
    display: flex;
    font-size: 3.7vh;
    width: 5vw;
    height: 6vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}


.result{
    color: blanchedalmond;
    font-size: 2vw;
    margin-left: 1vw ;
    margin-top: 2vh;
    opacity: 0;
    transition: all 300ms ease;
}


.info{
    opacity: 1;
    transition: all 300ms ease;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 49vw;
    background-image: url(./img/bh-bg.jpg);
    background-position: center;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    animation: bh-influence 5s linear 1 paused;
}

.info-title{
    color: white;
    font-size: 7vh;
    width: fit-content;
    margin-left: 2vw;
}
.celestial-body{
    display: none;
    /* width: 20vw; */
    height: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 20vw;
}

.info-body{
    margin-left: 2vw;
    margin-top: 1vh;
    font-size: 3.7vh;
    color: white;
}

.grid-elem{
    border: solid 5px black;
}

.astronaut{
    position: absolute;
    left: 50%;
    top: 15vh;
    background-image: url(./img/astronaut.png);
    width: 15vw;
    height: 15vh;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(10deg);
    z-index: 8;
    animation: astro-fly 3s infinite alternate linear;
}

.title{
    font-size: 8vh;
    color: white;
    font-weight: 700;
    margin-top: 1vh;
    position: absolute;
    top: 0vh;
    left: 45vw;
    z-index: 9;
}

i.star {
    position: absolute;
    z-index: 2;
    /* right: -150px; */
    color: rgb(255, 255, 255);
    animation: stardust linear ;
    font-size: 1rem;
  }
i.star2 {
    position: absolute;
    z-index: 9999;
    /* right: -190px; */
    color: rgba(255, 255, 255, 0.815);
    animation: stardust linear ;
    font-size: 1.2rem;
  }

@keyframes stardust {
	to {
		transform: translateX(-30vw);
	}
}

@keyframes astro-fly {
    from { top: 100px; }
    to { top: 70px; }
}

@keyframes my-move{
    0% , 100%{
      transform: translateX(0px);
    }
    20%, 60% {
      transform: translateX(2vw);
      filter: brightness(120%);
      text-shadow: rgba(255, 0, 0, 0.897) 5px 5px 5px;
    }
    40%, 80%{
      transform: translateX(-2vw);
      color: rgba(255, 255, 255, 0.705);
    }
    30%{
      transform: translateY(-2vh);
      color: rgba(128, 255, 0, 0.061);
    }
    2%, 97%{
      transform: translatex(-5vw);
      color: chartreuse;
    }
    3%, 98%{
      transform: translatex(-5vw);
      color: rgb(255, 0, 0);
    }
    4%, 94%{
      transform: translatex(5vw);
      color: chartreuse;
    }
    5%, 96%{
      transform: translatex(5vw);
      color: rgb(255, 0, 0);
    }
  }

  @keyframes bh-influence {
      0%{
            filter: brightness(120%)
      }
      2%{
            filter: brightness(50%)
      }
      6%{
            filter: brightness(110%)
      }
      9%{
            filter: brightness(20%)
      }
      11%{
            filter: brightness(200%)
      }
      13%{
            filter: brightness(20%);
      }
      14%{
            filter: brightness(20%);
      }
      15%{
            filter: brightness(200%)
      }
      
      16%{
            filter: brightness(0%);
            
      }
      100%{
            filter: brightness(0%);
      }
  }
